<a href="https://colab.research.google.com/github/CosmoAndrade/CursoDePython/blob/master/Cole%C3%A7%C3%B5es_em_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Coleções no Python: `Listas, Tuplas e Dicionários`

# Listas

Lista é uma coleção de valores indexada, em que cada valor é identificado por um índice. O primeiro item na lista está no índice 0, o segundo no índice 1 e assim por diante.

Para criar uma lista com elementos deve-se usar colchetes e adicionar os itens entre eles separados por vírgula

In [1]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
print(type(programadores)) # type ‘list’
print(len(programadores)) # 5
print(programadores[4]) # Luana

<class 'list'>
5
Luana

 No caso de adicionar elementos, podemos usar o método `append()`

In [2]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
print(programadores) # ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana

programadores.append('Renato')
print(programadores) # ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana', 'Renato']

['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana', 'Renato']

Há outra forma de adicionarmos itens na lista, que é através do método `insert()`. Ele usa dois parâmetros: o primeiro para indicar a posição da lista em que o elemento será inserido e o segundo para informar o item a ser adicionado na lista.

In [3]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
programadores.insert(1, 'Rafael')

print(programadores) # ['Victor', 'Rafael', 'Juliana', 'Samuel', 'Caio', 'Luana']

['Victor', 'Rafael', 'Juliana', 'Samuel', 'Caio', 'Luana']

Assim como podemos adicionar itens em nossa lista, também podemos retirá-los. E para isso temos dois métodos: `remove()` para a remoção pelo valor informado no parâmetro, e `pop(`) para remoção pelo índice do elemento na lista.

In [4]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
print(programadores) # ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']

programadores.remove('Victor')
print(programadores) # ['Juliana', 'Samuel', 'Caio', 'Luana']

['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
['Juliana', 'Samuel', 'Caio', 'Luana']

In [5]:
programadores = ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
print(programadores) # ['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']

programadores.pop(0)
print(programadores) # ['Juliana', 'Samuel', 'Caio', 'Luana']

['Victor', 'Juliana', 'Samuel', 'Caio', 'Luana']
['Juliana', 'Samuel', 'Caio', 'Luana']

# Tuplas

Tupla é uma estrutura de dados semelhante a lista. Porém, ela tem a característica de ser imutável, ou seja, após uma tupla ser criada, ela não pode ser alterada.

In [6]:
times_rj = ('Botafogo', 'Flamengo', 'Fluminense', 'Vasco')

print(type(times_rj)) # class=’tuple’
print(times_rj) # ('Botafogo', 'Flamengo', 'Fluminense', 'Vasco')

<class 'tuple'>
('Botafogo', 'Flamengo', 'Fluminense', 'Vasco')

Assim como é feito nas listas, podemos acessar um determinado valor na tupla pelo seu índice, como

In [ ]:
times_rj = ('Botafogo', 'Flamengo', 'Fluminense', 'Vasco')

print(times_rj[2]) # Fluminense

# Dicionários

Os dicionários representam coleções de dados que contém na sua estrutura um conjunto de ` pares chave/valor`, nos quais cada chave individual tem um valor associado. Esse objeto representa a ideia de um mapa, que entendemos como uma coleção associativa desordenada. A associação nos dicionários é feita por meio de uma chave que faz referência a um valor.

In [7]:
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

print(dados_cliente['Nome']) # Renan

Renan

Para adicionar elementos num dicionário basta associar uma nova chave ao objeto e dar um valor a ser associado a ela. No Código 16 vamos colocar a informação `Idade em dados_cliente.`

In [8]:
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

print(dados_cliente) 

dados_cliente['Idade'] = 40

print(dados_cliente)

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Telefone': '982503645'}
{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Telefone': '982503645', 'Idade': 40}

Para remover um item do dicionário, podemos usar o método `pop()`

In [10]:
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

print(dados_cliente)

dados_cliente.pop('Telefone', None)

print(dados_cliente)

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Telefone': '982503645'}
{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul'}

Também poderíamos usar a palavra-chave `del`, que remove uma chave e o valor associado a ela no dicionário. Isso se faz por meio da passagem no parâmetro

In [11]:
dados_cliente = {
    'Nome': 'Renan',
    'Endereco': 'Rua Cruzeiro do Sul',
    'Telefone': '982503645'
}

print(dados_cliente) 

del dados_cliente['Telefone']

print(dados_cliente)

{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul', 'Telefone': '982503645'}
{'Nome': 'Renan', 'Endereco': 'Rua Cruzeiro do Sul'}

## Funções para coleções

O Python conta com funções úteis quando se trabalha com coleções. Vejamos algumas delas:
`min() e max()`

Veremos a seguir, as funções `min() e max()`

In [12]:
numeros = [15, 5, 0, 20, 10]
nomes = ['Caio', 'Alex', 'Renata', 'Patrícia', 'Bruno']

print(min(numeros)) # 0
print(max(numeros)) # 20
print(min(nomes)) # Alex
print(max(nomes)) # Renata

0
20
Alex
Renata

# sum( )

Para trabalhar com coleções na linguagem Python, temos também a função` sum()`, que é usada para retornar a soma de todos os elementos da coleção.

In [13]:
numeros = [1, 3, 6]

print(sum(numeros)) # 10

10